*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* size owner container  */
    --width-body: 1250px;
    --box-shadow: 0px 2px 4px rgba(0,0,0,0.05);
    --border-block: 1px solid #ddd;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 0;
    overflow-x: hidden;
}

.root-container {
    max-width: var(--width-body);
    width: 100%;
    padding: 0 20px;
}

/* -----------------header---------------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: var(--width-body); */
    border-bottom: var(--border-block);
    padding: 0 0 20px;
    margin-bottom: 20px;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    color: #2c3e50;
    font-weight: 700;
}

.header-buttons {
    display: flex;
    gap: 12px;
}

.header-buttons > button {
    font-family: 'Roboto', sans-serif;;
    width: 75px;
    text-align: center;
    padding: 8px 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.header-buttons > button:hover {
    background-color: #f0f0f0;
}

/* --------------------------navigation------------------- */

.main-nav {
    background-color: #fff;
    /* width: var(--width-body); */
    display: flex;
    justify-content: center;
    gap: 20px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.05);

}

.main-nav ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    font-size: 18px;
}

.main-nav ul li {
    padding: 17px 15px;
    transition: transform 0.3s ease;
}

.main-nav__active {
    color: #2c3e50;
    font-family: 600;
    border-bottom: 3px solid #3498db;
    cursor: pointer;
}

.main-nav ul li {
    position: relative;
    overflow: hidden;
}

.main-nav ul li span {
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    background: #3498db;
}

.main-nav a {
    text-decoration: none;
    color: rgb(85, 85, 85);
    transition: color 0.3s ease;
    font-weight: 500;
}

.main-nav ul li:hover a {
    color: #3498db;
    cursor: pointer;
}

.main-nav ul li:not(.main-nav__active):hover span {
    animation: main-nav-li 0.2s ease-out forwards;
}



@keyframes main-nav-li {
    0% {
        left: -100%;
    }
    10% {
        left: -90%;
    }
    20% {
        left: -80%;
    }
    30% {
        left: -70%;
    }
    40% {
        left: -60%;
    }
    50% {
        left: -50%;
    }
    60% {
        left: -40%;
    }
    70% {
        left: -30%;
    }
    80% {
        left: -20%;
    }
    90% {
        left: -10%;
    }
    100% {
        left: 0%;
    }
}


/* ---------------------main------------------- */

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    /* width: var(--width-body); */
    padding: 40px 0 0;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* ---------------cards------------------------- */

.card {
    position: relative;
    min-width: 200px;
    max-width: 385px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 200px 1fr;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    transition: transform 0.4s ease, box-shadow 0.4s ease;

}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.card-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 3px 8px;
    background-color: #e74c3c;
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 3px;
    color: white;
    z-index: 1;
}

.card-img {
    width: 100%;
    height: 100%;
    object-position: center;
}

.card-information {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px 15px;
}


.card-information h4 {
    color: #7f8c8d;
    font-size: 0.8rem;
}

.card-info-price {
    display: flex;
    align-items: center;
    gap: 8px;
}


.card-info-price--old {
    text-decoration: line-through;
    color: #95a5a6;
    font-size: 0.9rem;
}

.card-info-price--new {
    color: #2c3e50;
    font-weight: 600;
    font-size: 1.1rem;
}

.card-info-rating {
    color: rgb(255, 187, 0)
}


.card-info-button {
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-info-button:hover {
   background-color: #2980b9;
}

/* ---------------------------------aside----------------------------------- */

.filters {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    margin-left: 20px;
    border-radius: 10px;
    padding: 20px 20px;
    box-shadow: var(--box-shadow);
}

:is(.filers__catigories, .filters-price_range,
    .filers__special-offers) {
    display: flex;
    flex-direction: column;
    gap: 15px
}

.filters input {
    margin-right: 10px;
}

.filters h2 {
    font-size: 1.2rem;
    font-weight: 600;
}

.filters h3 {
    font-size: 0.9rem;
    font-weight: 600;
}

.filters :is(h2, h3){
    color: rgb(44, 62, 80);
}

:is(.filers__catigories, .filters-price_range,
    .filers__special-offers) label {
    cursor: pointer;
}

:is(.filers__catigories, .filers__special-offers) label {
    padding: 0 0 0 7px;
}

.filters-price_range--count {
    display: flex;
    justify-content: space-between;
    color: rgb(127, 140, 141);
}


.filters_buttons {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    width: 100%;
}

.filters_buttons button {
    width: 50%;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.filters_buttons button:nth-child(1):hover {
    background-color: #2980b9;
}


.filters_buttons button:nth-child(2) {
    background-color: #ecf0f1;
    color: #2c3e50;
}

.filters_buttons button:nth-child(2):hover {
    background-color: #d9dedf;
}



/* ---------------footer------------------ */
footer {
    margin-top: 50px;
    margin-bottom: 50px;
    /* padding: 50px 30px 0px 30px; */
    background-color: #fff;
    box-shadow: var(--box-shadow);
    border-top: var(--border-block)
}

footer h3 {
    color: #2c3e50;
    font-size: 1rem;
    margin-bottom: 20px;
}

.footer-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px 30px 40px 30px;
}

.footer-info-det {
    display: flex;
    flex-direction: column;
}

.footer-info-det ul {
    list-style-type: none;
}

.footer-info-det li {
    margin-bottom: 15px;
}

.footer-info-det a {
    text-decoration: none;
    color: #7f8c8d;
    font-size: 0.9rem;
    transition: color 0.2s ease;
}

.footer-info-det a:hover {
    color: #3498db;
}

.footer-reserved {
    color: #7f8c8d;
    text-align: center;
    padding: 35px;
    border-top: var(--border-block);

}


